body{
    background-color: #14181d;
}

#display{
    width: 350px;
    height: 100px;
    color: #000000;
    text-wrap: wrap;
}

#container, #btns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

#btns{
    padding: 10px 10px;
    gap: 15px;
}

#btns button{
    color: #FFFFFF;
    background-color: #262a32;
    padding: 10px 20px;
    border: none;
}

.rows{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#numbers{
    display: flex;
    gap: 5px;
}

#symbols button{
    font-size: larger;
    background-color: #f58a40;
    border-radius: 5px 5px 10px;
}

#equalSign {
    font-size: larger;
    background-color: #30D158 !important;
}